<div id="myCarousel">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-12 order-md-1 order-2 hm-content">
              <h4>Want to test <br>
                <span class="theme-color"> Your Skills</span></h4>
              <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
                <p> It's all here</p>
                <hr>
                <p> SignIn as a league manager or register as <br/>
                A player. <span class="theme-color">Either way it's free</span> 
                </p>
              <a href="/login" class="btn lg-btn ">Login</a> 
               <a href="/register" class="btn rg-btn" >Register</a>
              </div>
            <div class="col-md-7 col-12 order-md-2 order-1 tennis-col">
                  <div class="hm-search align-items-center">
                     <p>View the member page to<br/>
                         <span>Search Player</span>
                     </p>
                     <p class="last-par">
                         by skill level. location,left or right handed, winning
                         percentage and more !
                     </p>
                     <a class="btn" href="/player-profile"> Go to player profile </a>
                </div> 
            </div>
          </div>
        </div>
  </div>
 


