<!--<div class="container" >
  <h1>Register works!</h1>
  <label>Email :</label>
  <input type="text" value=""> 
  <label>Password :</label>
  <input type="password" value="">
  <input type="button" value="REGISTER">
  <a routerLink="/login" class="btn lg-btn ">Login</a> 
</div>-->
<div class="container">
  <div class="row">
   <div class="col-sm-6">
     <div class="col-md-12 col-sm-12 col-xs-12 details-reg">
        <h2>What is Lorem Ipsum?</h2>
        <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
     <div class="row active-with-click">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="assets/images/andre-1.jpg">
                    </div>
                    <div class="mc-description">
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
         <div class="col-md-6 col-sm-12 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="assets/images/img-2.jpg">
                    </div>
                    <div class="mc-description">
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>
    </div>
   </div>
<form class="form-group col-sm-6">
  <div class="register-page">
  <header>
     <h3 class="title-txt"> <span>Register</span></h3>
     <p>Create your account.</p>
  </header>
   <div class="form-row">
     <label for="firstName">First Name</label>
     <input ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" value="" class="form-control"> 
   </div>
  <div class="form-row">
     <label for="lastName">Last Name</label>
     <input id="lastName" type="text" value="" class="form-control"> 
   </div>
    <div class="form-row">
     <label for="emailID">Email</label>
     <input id="emailID" type="text" value="" class="form-control"> 
   </div>
     <div class="form-row">
     <label for="password">Password</label>
     <input id="password" type="password" value="" class="form-control"> 
   </div>
    <div class="form-row">
     <label for="confirmPass">Confirm Password</label>
     <input id="confirmPass" type="password" value="" class="form-control"> 
   </div>
    <div class="form-row squaredThree">
        <input type="checkbox" value="None" id="squaredThree" name="check" checked />
        <label for="squaredThree"></label>
        <span>I accept the Terms of Use & Privacy Plociy</span>
   </div>
   <div class="form-row"  style="margin-bottom:0px; padding-bottom:0px;">
     <input type="button" class="btn rg-btn" style="margin-bottom: 20px;" value="Register Now">
   </div>
   <div style="clear:both"></div>
  </div>
   <footer>
  <a routerLink="/login" class="btn lg-btn">Back to Sign In </a> 
</footer>
</form>

</div>
</div>



